body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #eee;
}


input {
  width: 200px;
  margin: 20px;
}


button {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: white;
}
