body {
  font-family: system-ui;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* Use dvh for iOS to ignore the address bar */
  height: 100dvh;
  /* Fallback for older browsers */
  min-height: 100vh;

  width: 100%;

  /* Stops "rubber-band" bounce on iOS */
  overscroll-behavior: none;

  height: 100dvh;
  box-sizing: border-box;

  margin: 0;
  overflow: hidden;
  background: #eee;

  /* Use padding to keep content out of the notch/home bar */
  padding: calc(20% - env(safe-area-inset-top)) 20px env(safe-area-inset-bottom)
}


input {
  width: 200px;
  margin: 20px;
}


button {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: white;
}
